.inscribe-card.ant-card:not(.ant-card-bordered) {
    box-shadow: var(--shadow-large), 0 0 0 1px rgba(0, 0, 0, .05);
}

.inscribe-form {
    width: 100%;

    .ant-input-number-in-form-item {
        width: 100%;
    }

    .inscribe-form-btn {
        width: 50%;
    }
}

.inscribe-page {
    .ant-upload-wrapper.hiddenbtn {
        .ant-upload {
            display: none;
        }
    }
}

// .inIframe {
.inscribe-card.ant-card:not(.ant-card-bordered) {
    box-shadow: var(--shadow-normal), 0 0 0 1px rgba(0, 0, 0, .05);
}

// }